@font-face {
    font-family: panchange-semibold;
    src: url(../Font/Panchang-Semibold.otf);
}
.container{
background:#000000 ;
/* padding: 0 300px; */
padding: 0;
margin: 0;


}
@media screen and (max-width: 767px) {
  
}

.hero{
    align-items: center;
    align-content: center;
    background-color: #000000;
    height: 900px;
}

.hero::before{
    content: '';
    position: absolute;
    top: 400px;
    left: 90%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    box-shadow: 0 0 10px  rgba(42, 216, 131, 0.7);
    opacity: 0;
    border-radius: 50%;
    animation: glow1 2.4s infinite;

}

@keyframes glow1 {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    50% {
        width: 50px;
        height: 50px;
        opacity: 0.7;
    }
    100% {
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

.hero::after{
    content: '';
    position: absolute;
    top: 600px;
    left: 3%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    box-shadow: 0 0 10px  rgba(42, 216, 131, 0.7);
    opacity: 0;
    border-radius: 50%;
    animation: glow2 2.4s infinite;

}

@keyframes glow2 {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    50% {
        width: 50px;
        height: 50px;
        opacity: 0.7;
    }
    100% {
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

.hero p{
    /* padding: 200px 300px; */
    padding-top: 150px;
    margin-left: 320px;
    color: #2AD883;
    font-family: panchange-semibold;
    font-size: 60px;
    width: 1000px;
}
 .hero .hero-arrow{
    margin-left: 600px;
    margin-top: -20px;
   
 }

 .hero .hero-arrow img{
    width: 140px;
   
 }
 .hero .hero-button{
    z-index: 3;
    position: relative;
 }
 .hero .hero-button button{
    margin-left: 550px;
    margin-top: 20px;
    border-radius: 50px;
    width: 320px;
    height: 68px;
    background-color: #2AD883;
    border: none;
    font-size: 20px;
    font-family: panchange-semibold;
 }

 .hero .hero-button button:hover{
    box-shadow: 8px 5px 5px  rgb(255, 255, 255);
    transition: .3s ease-in-out;
 }
.hero .hero-elips{
    position: absolute;
    top: 500px;
    width: 100%;
    left: 200px;
    z-index: 0;
}
    .hero .hero-elips img{
    width: 1000px;
}

.middleSection{
    background-color: #000000;
    /* height: 100%; */
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 730px;
    padding: 100px;
}

.middleSectionChild1{
 
    display: flex;
}
.middleSection .textContainer{
    color: #fff;
    width: 50%;
    margin-left: 0x;
    margin-top: 100px;
}
.middleSection .textContainer h1{
    color: #fff;
    font-family: panchange-semibold;
    font-size: 40px;
}
.middleSection .textContainer p{
    font-size: 1.2rem;
    width: 90%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.middleSection .textContainer h1 .greencolor{
    color: #2AD883;
    font-family: panchange-semibold;
    font-size: 40px;
}
.middleSection .imageContainer{
    width: 50%;
    margin-right: 100px;
} 

.middleSection .imageContainer img{
    width: 100%;
} 
.middleSection .middleSectionChild2 .bigtext{
    color:#2AD883;
    font-family: panchange-semibold;
    margin-top: -100px;
    width: 80%;
    font-size: 35px;

}

.middleSection .middleSectionChild2 .arrow img{
    width: 250px;
    position: relative;
    left: 495px;
    top: -100px;
}

.middleSection .middleSectionChild2 .button{

    position: relative;
    display: flex;
    justify-content: space-between;
    left: 53%;
    top: -200px;
    border-radius: 50px;
    width: 350px;
    height: 68px;
    background-color: #2AD883;
    border: none;
  cursor: pointer;
    align-items: center;
    align-content: center;
}
.middleSection .middleSectionChild2 .button:hover{
    box-shadow: 8px 8px 10px  rgb(255, 255, 255);
    transition: .3s ease-in-out;
}
.middleSection .middleSectionChild2 .button h6{
    font-size: 20px;
    font-family: panchange-semibold;
    margin-left: 30px;
    margin-right: 0;
    padding: 0;
}

.middleSection .middleSectionChild2 .button img{
    margin-right: 30px;
}

.middleSection .middleSectionChild3{
    margin-top: -100px;
    display: flex;
}
.middleSection .textContainer3{
    color: #fff;
    width: 50%;
    margin-right: 200px;
    margin-top: 100px;
}

.middleSection .textContainer3 h1{
    color: #fff;
    font-family: panchange-semibold;
    font-size: 40px;
}

.middleSection .textContainer3 p{
    font-size: 1.2rem;
    width: 90%;
}

.middleSection .textContainer3 h1 .greencolor{
    color: #2AD883;
    font-family: panchange-semibold;
    font-size: 40px;
}

.middleSection .imageContainer3{
    width: 50%;
    margin-right: 100px;
    margin-top: 100px;
} 

.middleSection .imageContainer3 img{
    width: 100%;
} 

.services{
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.services .serviceHeader{
color: white;
font-family: panchange-semibold;
font-size: 40px;
margin-left: 30%;
width: 250px;
text-align: center;
}

.services .serviceHeader span{
    color: #2AD883;
}

.services .cardContainer{
    width: 80%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;


}

.services .cardContainer .Cards{
    /* width: 327px; */
    /* height: 432px; */
    margin-top: 50px;
    border-radius: 8px;
    border: 1px solid #2AD883;
    box-shadow: 10px 10px 0px rgb(48, 216, 100);
    text-align: center;
    padding: 20px;

}

.Cards .cardHeader{
    color: #2AD883;
    font-size: 25px;
    margin-bottom: 50px;
    font-family: panchange-semibold;
}

.Cards .cardPara{
    color: #fff;
    font-size: 12px;
}
@media screen and (min-width: 1600px) {
    .hero p{
        padding-top: 150px;
        margin-left: 400px;
        font-size: 80px;
        width: 1500px;
    }
     .hero .hero-arrow{
        margin-left: 830px;
        margin-top: -20px;
       
     }

     .hero .hero-button button{
        margin-left: 780px;
        margin-top: 50px;
        border-radius: 50px;
        width: 320px;
        height: 68px;
        background-color: #2AD883;
        border: none;
        font-size: 20px;
        font-family: panchange-semibold;
     }

     .middleSection{
        background-color: #000000;
        /* height: 100%; */
        width: 100%;
        position: absolute;
        z-index: 999;
        top: 830px;
       
    }
    
    .middleSectionChild1{
     
        display: flex;
    }
    .middleSection .textContainer{
        color: #fff;
        width: 40%;
        margin-left: 150px;
        margin-top: 100px;
    }
    .middleSection .textContainer h1{
        color: #fff;
        font-family: panchange-semibold;
        font-size: 50px;
    }
    .middleSection .textContainer p{
        font-size: 1.5rem;
       
        
    }

    .middleSection .imageContainer{
        width: 40%;
        margin-right: 100px;
    } 
    
    .middleSection .imageContainer img{
        width: 100%;
    } 

    .hero .hero-elips{
        position: absolute;
        top: 550px;
        width: 100%;
        left: 400px;
        z-index: 0;
    }
        .hero .hero-elips img{
        width: 1000px;
    }

    .middleSection .middleSectionChild2 .bigtext{
    
        margin-top: 00px;
        width: 60%;
        margin-left: 150px;
    
    
    }
    
    .middleSection .middleSectionChild2 .arrow img{
        width: 250px;
        position: relative;
        left: 595px;
        top: -100px;
    }
    
    .middleSection .middleSectionChild2 .button{
    
        position: relative;
        display: flex;
        justify-content: space-between;
        left: 48%;
        top: -150px;
        border-radius: 50px;
        width: 350px;
        height: 68px;
        background-color: #2AD883;
        border: none;
      cursor: pointer;
        align-items: center;
        align-content: center;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    
}

@media screen and (max-width: 767px) {
    /* for mobile devices */

    .hero{
        align-items: center;
        align-content: center;
        background-color: #000000;
        height: 00px;
        width: 100%;
    }
    .hero p{
        padding-top: 150px;
        margin-left: 100px;
        font-size: 60px;
        width: 100%;
    }
     .hero .hero-arrow{
        margin-left: 230px;
        margin-top: -20px;
       
     }

     .hero .hero-button button{
        margin-left: 120px;
        margin-top: 50px;
        border-radius: 50px;
        width: 320px;
        height: 68px;
        background-color: #2AD883;
        border: none;
        font-size: 20px;
        font-family: panchange-semibold;
     }
}