@font-face {
    font-family: imported;
    src: url(../Font/Panchang-Semibold.otf);
}

.Navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    top: -1px;
    padding: 20px 120px;
    background-color: rgb(0, 0, 0);
   align-items: center;
   z-index: 9999;
   
}

.Navbar .navMenu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 30px;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: imported;
    align-items: center;
    margin-left: 10px;
    

    
}

.navMenu a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;

}

.navMenu a::after{
    content: "";
    display: block;
    background-color: #2AD883;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease;
    transition: 0.3s ease;

}
.navMenu a:hover{
    color: #2AD883;
    transition: 0.3s ease;
}
.navMenu a:hover::after{
    width: 100%;
    transition: width 0.3s ease;
}

.logo-menuitem{
    display: flex;
}

.logo-menuitem img{
    width: 120px;
}

.btns .btns1{
     margin-right: 20px ;
    background: #000;
    border:2px solid #2AD883;
    border-radius:50px;
    padding: 10px 30px;
    font-size:20px ;
    font-family: imported;
    font-weight: 500;
    color:#2AD883;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
   
}
.btns::before{
    content: '';
    position: absolute;
    top: 400px;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    box-shadow: 0 0 10px  rgba(42, 216, 131, 0.7);
    opacity: 0;
    border-radius: 50%;
    animation: glow 2s infinite;

}



@keyframes glow {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    50% {
        width: 200px;
        height: 200px;
        opacity: 0.7;
    }
    100% {
        width: 400px;
        height: 400px;
        opacity: 0;
    }
}


.btns2:hover{
    background-color: #FF8D02;
    transition: all .2s ease-in-out;
}


@media screen and (min-width: 1600px) {
   .Navbar{
    padding: 10px 250px;
   }



  } 

  @media screen and (max-width:850px) {

    .NavbarItems{
        z-index: 99;
    }

    .Navbar .navMenu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
      } 

      .navMenu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    .btns {
        display: none;
    }

    .menu-icons{
        display: block;
        cursor: pointer;
    }

    .menu-icons i{
    font-size: 1.5rem;
    color: #2AD883;
    }


  }